[inventaire]
    index: int
    local: str
    armoire: str
    étagère: int
    case: int
    nom: str
    description: str
    fabricant: str
    fournisseur: str
    référence_fournisseur: str
    quantité: int
    documents: pathlib.Path
    photos: pathlib.Path
    responsable: str
    emprunte: bool
    emprunte_par: str
    emprunte_le: datetime.date

[vis]
    index: int
    taille: str
    pas: str
    métrique: bool
    longueur: float
    tête: str
    matériel: str
    quantité: int

[boîtes]
    index: int
    local: str
    reponsable: str
    unitées: str
    largeur: int
    longueur: int
    hauteur: int
    quantité: int
