[DEFAULT]
chemin = Certificat Formation Laser.pptx
feuille = /Users/emilejetzer/polymtl.ca/Techniciens Génie Physique - Documents/Test de sécurité laser 1.xlsx
unoconv = /Applications/LibreOffice.app/Contents/Resources/python

[Émile]
auteur = Émile Jetzer
dernière màj = 2022-01-21T11:21:22.875480

